/*
-------
Reset
-------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
-------
Common
-------
*/

body {
    font-family: 'Roboto', sans-serif;
}

.container-nav {
    position: fixed;
    z-index: 1;
    width: 100%;
}

ul {
    list-style: none;
}

ul>li>a {
    text-decoration: none;
    color: #1E1919;
}

.button-first {
    background-color: #0061ff;
    color: white;
    padding: 10px 15px;
    border: none;
}

.small-box {
    max-width: 1000px;
    margin: 0 auto;
}

/*
-------
Typo
-------
*/

h1 {
    padding-top: 200px;
    font-size: 77px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1180px;
    margin: 0 auto;
    text-align: left;
}

.text-first-main-section {
    padding-bottom: 35px;
}

.text2-first-main-section {
    padding: 30px 0 30px 0;
}

.fa-solid.fa-arrow-down {
    font-size: 60px;
}

/*
-------
Header
-------
*/

.container-nav {
    height: 80px;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.left-nav>ul,
.right-nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 40px;
}



/*
-------
Main
-------
*/

.first-main-section {
    background-color: #B3D0E7;
}

.content-first-main-section {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    justify-content: space-between;
}

.col-small {
    width: 30%;
    position: relative;
    top: 80px;
}

.col-big {
    width: 70%;
    position: relative;
    top: 80px;
}

.col-big>.jumbo {
    max-width: 100%;
}

.second-main-section {
    margin-top: 165px;
}

.title-second-main-section>h2 {
    padding-bottom: 70px;
    font-size: 40px;
}

.radio-button {
    padding-bottom: 50px;
}

.radio1 {
    padding-right: 50px;
}

.row-second-main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -25px;
}

.container-first-content,
.container-second-content,
.container-third-content {
    border: 1px solid lightgray;
    margin: 0 25px;
    height: 950px;
}

.container-first-content>.user {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 8px 0;
}

.padding-container-first-content>div>h3 {
    padding-top: 40px;
    padding-bottom: 30px;
}

.padding-container-first-content>strong {
    padding-bottom: 20px;
}

.padding-container-first-content>p {
    padding-top: 20px;
    padding-bottom: 30px;
}

.padding-container-first-content>ul>li {
    padding-bottom: 30px;
}

.button-first.first-container {
    font-size: 15px;
    padding: 10px 30px;
    margin-bottom: 35px;
}

.padding-container-first-content {
    padding: 0 30px 0 30px;
}

.padding-container-first-content>hr {
    width: 50px;
    margin: 40px 0 60px 0;
}

.padding-container-first-content>div>h4 {
    padding-bottom: 38px;
}

.container-fourth-content {
    border: 1px solid lightgray;
    margin-bottom: 100px;
    margin-top: 50px;
}

.row-third-main-section,
.row-fourth-content {
    display: flex;
    justify-content: space-between
}

.row-fourth-content{
    padding-left: 30px;
    padding-right: 30px;
}

.col1{
    width: 70%;
}

.col2{
    width: 30%;
    padding-top: 30px;
    text-align: end;
}

.team{
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 10px 0;
}

.col1 > h3{
    padding: 40px 0 30px 0;
}

.col1 > p{
    padding: 55px 0 30px 0;
}

.col-big {
    width: 60%;
}
/*
.col-small {
    width: 40%;
    padding: 60px 100px 0 50px;
}*/

.col-big>.partner {
    max-width: 100%;
}

.col-small>h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

.button-partner {
    background-color: white;
    padding: 20px 15px;
    margin-top: 35px;
    font-size: 16px;
}

section.Dropbox-Business {
    margin-top: 220px;
    
}

.row-dropbox-business {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-dropbox-business {
    width: calc(100% / 3);
    padding: 50px;
}

.business-feature-switching-tools,
.business-feature-send-files-it,
.business-feature-coordinate-it,
.business-feature-integrations-it,
.business-feature-multi-device,
.business-feature-security {
    width: 100%;
}

.content-dropbox-business h3 {
    margin: 15px 0 40px 0;
}

.team-utilizzano{
    margin-top: 160px;
}

.team-utilizzano > h2{
    font-size: 35px;
    margin-bottom: 70px;
}

.use-dropbox-business .small-box{
    margin-bottom: 150px;
}

.container-partner{
    display: flex;
}

.box-partner{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.box-partner .logo-partner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.box-partner .logo-partner img{
    width: 50%;
    filter: invert(1);
}

.logo-partner.arizona{
    background-color: #61092B;
}

.logo-partner.channel{
    background-color: #ffd830;
}

.logo-partner.designit{
    background-color: #a2d39b;
}

.logo-partner.hearst-corp{
    background-color: #b4d0e7;
}

.logo-partner.florida{
    background-color: #0093ce;
}

.logo-partner.topps{
    background-color: #ff1c1c;
}

.logo-partner.world{
    background-color: #d5001f;
}

.logo-partner.lonely{
    background-color: #0d2481;
}

.box-partner.text{
    background-color: #f5f5f5;
    position: relative;
    padding: 30px;
}

.box-partner.text > img{
    position: absolute;
    top: 40px;
    left: 30px;
    width: 50%;
}

.box-partner.text hr{
    color: gray;
    width: 70px;
    height: 2px;
    margin-top: 200px;
}

#bottom-partner{
    background-color: #b4d0e7;
    margin-bottom: 160px;
    padding: 135px 0;
}

.container-row-partner{
    max-width: 1000px;
    margin: 0 auto;
}

.row-partner{
    display: flex;
    justify-content: space-between;
}

.button-prova-gratuita{
    background-color: white;
    padding: 10px 50px;
    border: none;
}

.col-big-partner{
    width: 60%;
    color: #61082b;
    font-size: 32px;
}

.col-small-partner{
    width: 40%;
    text-align: end;
}

#faq{
    margin-bottom: 150px;
}

.container-faq{
    max-width: 1000px;
    margin: 0 auto;
}

.container-faq h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.content-faq div .faq1,
.container-faq div .faq2{
    border-bottom: 1px solid black;
    padding: 45px 0px;
}

.faq3{
    padding: 45px 0;
}

.content-faq div i{
    padding-left: 350px;
}

/*
-------
Footer
-------
*/