/*
-------
Reset
-------
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
-------
Common
-------
*/

body{
    font-family: 'Roboto', sans-serif;
}

.container-nav{
    position: fixed;
    z-index: 1;
    width: 100%;
}

ul{
    list-style: none;
}

ul > li > a{
    text-decoration: none;
    color: #1E1919;
}

.button-first{
    background-color: #0061ff;
    color: white;
    padding: 10px 15px;
    border: none;
}

.small-box{
    max-width: 1000px;
    margin: 0 auto;
}

/*
-------
Typo
-------
*/

h1{
    text-align: center;
    padding: 180px 400px 0px 300px;
    font-size: 77px;
    font-family: 'Open Sans', sans-serif;;
}

.text-first-main-section{
    padding-bottom: 35px;
}

.text2-first-main-section{
    padding: 30px 0 50px 0;
}

.fa-solid.fa-arrow-down{
    font-size: 80px;
}

/*
-------
Header
-------
*/

.container-nav{
    height: 80px;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.left-nav > ul,
.right-nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 40px;
}



/*
-------
Main
-------
*/

.first-main-section{
    background-color: #B3D0E7;
}

.content-first-main-section{
    display: flex;
    justify-content: space-between;
    padding: 0 380px 0 330px;
}

.col-small{
    width: 30%;
    position: relative;
    top: 80px;
}

.col-big{
    width: 70%;
    position: relative;
    top: 80px;
}

.col-big > .jumbo{
    width: 100%;
    height: 100%;
}

.second-main-section{
    margin-top: 165px;
}

.title-second-main-section > h2{
    padding-bottom: 70px;
    font-size: 40px;
}

.radio-button{
    padding-bottom: 50px;
}

.radio1{
    padding-right: 50px;
}

.row-second-main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.container-first-content,
.container-second-content,
.container-third-content{
    border: 1px solid black;
    margin: 25px 25px 25px 0;
    height: 950px;
}

.container-first-content > .user{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 8px 0;
}

.container-first-content > div > h3{
    padding-top: 40px;
    padding-bottom: 30px;
}

.container-first-content > strong{
    padding-bottom: 20px;
}

.container-first-content > p{
    padding-top: 20px;
    padding-bottom: 30px;
}

.container-first-content > ul > li{
    padding-bottom: 30px;
}

.button-first.first-container{
    font-size: 17px;
    padding: 10px 30px;
    margin-bottom: 35px;
}

.container-first-content{
    padding-left: 30px;
} 

.container-first-content > hr{
    width: 50px;
    margin: 40px 0 60px 0;
}

.container-first-content > div > h4{
    padding-bottom: 38px;
}

.container-fourth-content{
    height: 220px;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
-------
Footer
-------
*/